body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin:0;
    min-height: 650px;
    min-width: 350px;
    background-color: #f7f7f7;
    /* background: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%); */
}

.box2, .box3, .box5{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}
.container{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(0px, 1fr); 
    grid-template-areas: 
    "nav nav nav nav nav"
    ". box2 box2 box3 ."
    ". box5 box5 box5 ."
    "box4 box4 box4 box4 box4"    
    ;
    align-items: center;
    grid-gap: 6px;

}

.title{
    color:black;
    font-family:sans-serif;
    margin:0;
    font-size: 20px;
}

.nav{
    display: flex;
    flex-direction: column;
    background-color: #58b6fa;
    justify-content: center;
    align-items: center;
    height: 5vh;
    grid-area: nav;
}

.nav > p{
    color:white;
    margin:0;
    padding: 0;
}
.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    background-color: rgb(221, 202, 202);
    padding: 15px;
    margin-right: 15px;
}

.box2{
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
    grid-area: box2;
    font-size: 30px;
    color:#313131;
}
.box3{
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.678);
    background-color: #f5c236d0;
    overflow: hidden;
    justify-content: space-evenly;
    height: 10vh;
    grid-area: box3;
}
.box3 .tasksToDo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 2px solid rgba(167, 167, 167, 0.322);
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.box3 .tasksChecked{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#tasksToDoCount{
    font-size: 35px;
}
#tasksCheckedCount{
    font-size: 30px;
}
.box4{
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    background-color: #58b6fa;
    height: 5vh;
    grid-area: box4;
}

.box5{
    display: block;
    overflow: visible;
    min-height: 69.9vh;
    /* background-color: #f0f0f044; */
    grid-area: box5;
}

.box5 > #taskslistTitle{
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    text-align: center;
    color: white;
    width: 98%;
    background: #494949;
}

.box5 > #tasksToDo{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: white;
    width: 100%;
    background: #494949;
}

.taskBarList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.taskCheck > input{
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: #494949;
}

.taskbox{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.411);
    padding: 5px;
    width: 100%;
    min-height: 50px;
    background: #f7f7f7;
}

.taskAction{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.taskDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:10px;
}

.taskAction > img{
    width: 30px;
    padding: 10px
}

#addTask{
    position: fixed;
    color: whitesmoke;
    border: none;
    bottom: 7%;
    left: 85%;
    width: auto;
    height: 50px;
    background-color: #58b6fa;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.795); */
    font-size: 100%;
    cursor: pointer;
    border-radius: 10px;
}

#addTask:hover{
    cursor: pointer;
    background-color: #4897cf;
}

.formCreateTask{
    width: 100%;
    margin-top:15px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}
.formCreateTask > form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.233);
    margin: 5px;
}

.formCreateTask form .topper{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    margin:20px;
    padding: 5px;
}
.formCreateTask form .topper .description{
    width: 80%;
}
.formCreateTask form .topper .hora{
    width: 40%;
}
.topper input{
    width: 80%;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    outline: none;
    height: 30px;
    text-align: center;
}
.formCreateTask > form .actions button{
    height: 30px;
    width: 100px;
    border: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
    border-radius: 5px;
    cursor: pointer;
    color:whitesmoke;
    background-color: #58b6fa;
}







/* RESPOSIVIDADE */


@media screen and (max-width: 635px) {
.container{
    display: block;
}

.box2, .box3, .box5{
    margin-top: 15px;
    border-radius: 2px;
    padding: 20px;
}

.box3 > #task{
    color: #ffffff;
    font-size: 30px;
}
.box2{
    font-size: 30px;
}

#addTask{
    bottom: 3%;
    left: 40%;
    cursor: none;
}
}

