body{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
    /* background: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%); */

}

.box2, .box3, .box5{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    overflow: auto;
    border-radius: 15px;
    padding: 20px;
}
.container{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(0px, 1fr); 
    grid-template-areas: 
    "nav nav nav nav nav"
    ". box2 box2 box3 ."
    ". box5 box5 box5 ."
    "box4 box4 box4 box4 box4"    
    ;
    align-items: center;
    grid-gap: 6px;

}

.title{
    color:black;
    font-family:sans-serif;
    margin:0;
    font-size: 20px;
}

.nav{
    display: flex;
    flex-direction: column;
    background-color: #58b6fa;
    justify-content: center;
    align-items: center;
    height: 5vh;
    grid-area: nav;
}

.nav > p{
    color:white;
    margin:0;
    padding: 0;
}
.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    background-color: rgb(221, 202, 202);
    padding: 15px;
    margin-right: 15px;
}

.box2{
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
    grid-area: box2;
    font-size: 20px;
    color:#ffa600;
}
.box3{
    display: flex;
    background-color: #F5C136;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 10vh;
    grid-area: box3;
}
.box3 > #task{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

.box3 > #countTask{
    display: flex;
    text-align: center;
    color: #494949;
    font-size: 20px;
}
.box4{
    display: flex;
    font-family:sans-serif;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #58b6fa;
    height: 5vh;
    grid-area: box4;
}

.box5{
    display: block;
    overflow:hidden;
    height: 69.9vh;
    background-color: #F5C136;
    grid-area: box5;
}

.box5 > #taskslistTitle{
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    text-align: center;
    color: white;
    width: 98%;
    background: #494949;
}

.box5 > #tasksToDo{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: white;
    width: 100%;
    background: #494949;
}

#tableTask{
    width: 100%;
    margin-top: 5px;
    /* background-color: #58b6fa; */
}
#tableTask #task{
    width: 80%;
}

#tableTask > thead{
    border-radius: 5px;
    background-color: aliceblue;
}

#tableTask > tbody{
    /* background-color: red; */
}

#tableTask th{
    padding: 10px;

    box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.267);
    border-radius: 10px;
}







/* RESPOSIVIDADE */


@media screen and (max-width: 635px) {
.container{
    display: block;
}

.box2, .box3, .box5{
    margin-top: 15px;
    border-radius: 2px;
    padding: 20px;
}

.box3 > #task{
    color: #ffffff;
    font-size: 30px;
}
.box2{
    font-size: 30px;
}
}

